td > code {
  font-size: 12px;
  background: #eeeeee;
}

p > code, li > code {
  font-size: 14px;
  background: #eeeeee;
}

.language-plaintext {
  font-size: 12px;
  background: #eeeeee;
}

pre > code {
  font-size: 12px;
}